<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详细信息</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fileinput.css}">
    <script type="text/javascript" th:src="@{/assets/js/frame/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/frame/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/frame/fileinput.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/frame/zh.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.15.5/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/commonUse.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/admin/adminJS.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/ajax/ajaxHonorData.js}"></script>
</head>
<body style="overflow-x:hidden">
<div th:replace="teacher/teacher::top"></div>
<div class="down-main">
    <th:block th:if="${grade} == 'null'">
        <th:block th:include="teacher/teacher::sideBar" id="sideBar">
        </th:block>
    </th:block>
    <th:block th:if="${grade} != 'null'">
        <th:block th:include="admin/admin::sideBar" id="sideBar">
        </th:block>
    </th:block>
    <div class="right-product right-full select-main" style="margin-left: -2em">
        <div class="table-main col-md-12">
            <div class="col-md-4">
                <ol class="breadcrumb" style="margin-left:3em;margin-top:1em">
                    <li><a href="#">主页</a></li>
                    <li><a href="#">查询</a></li>
                    <li><a href="#">荣誉查询</a></li>
                    <li class="active">详细信息</li>
                </ol>
            </div>
            <input type="hidden" th:value="${grade}" id="grade">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <div class="col-md-10 button-div form-inline">
                        <input type="file" id="file" style="display: none">
                    </div>
                    <table border="2" id="table" class="table table-striped table-bordered table-condensed">
                        <tr class="info">
                            <td>名称</td>
                            <td class="Hname text-center"  colspan="5">[[${honor.hname}]]</td>
                        </tr>
                        <tr>
                            <td>编号</td>
                            <td class="Hsn" colspan="2">[[${honor.hsn}]]</td>
                            <td>第一完成人</td>
                            <td class="Hwinner" colspan="2">[[${honor.tname}]]</td>
                        </tr>
                        <tr>
                            <td>时间</td>
                            <td class="Hdate" colspan="2">[[${honor.hdate}]]</td>
                            <td>颁奖单位</td>
                            <td class="Hcompany" colspan="2">[[${honor.hcompany}]]</td>
                        </tr>
                        <tr>
                            <td>级别</td>
                            <td class="Hgrad">[[${honor.hgrad}]]</td>
                            <td>第一完成单位</td>
                            <td class="department">[[${honor.department}]]</td>
                            <td>附件</td>
                            <td><a th:href="@{'/file/download?model=honor&majorkey=' + ${honor.hsn} + '&name=' + ${honor.hname}}"  class="btn btn-primary Download">下载附件</a></td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td class="Hremarks" colspan="5">[[${honor.hremarks}]]</td>
                        </tr>
                        <tr>
                            <td>审核情况</td>
                            <td>[[${honor.haudit}]]</td>
                            <td>审核意见</td>
                            <td colspan="3">[[${honor.message}]]</td>
                        </tr>
                    </table>
                    <div id="teacher">
                        <button class="btn btn-primary form-group" style="width:100%;margin-bottom:10px" id="btn_update">重新编辑</button>
                        <!--重新编辑信息的模态框 -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">修改荣誉信息</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Hsn">荣誉编号</label>
                                            <input type="text" name="Hsn" readonly th:value="${honor.hsn}"
                                                   class="form-control" id="Hsn" placeholder="荣誉编号"/>
                                            <div id="Hsndiv" style="display:none">
                                                <span id="Hsnspan" ></span><br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Hname">荣誉名称</label>
                                            <input type="text" name="Hname" th:value="${honor.hname}"
                                                   class="form-control" id="Hname" placeholder="荣誉名称"
                                                   onfocus="showTips('Hname','荣誉名称不能超过50个字符')"
                                                   onblur="checkHname('Hname','请按要求输入荣誉名称')">
                                            <div id="Hnamediv" style="display:none">
                                                <span id="Hnamespan" ></span><br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Hwinner">第一完成人</label>
                                            <input type="text" th:value="${honor.tname}" readonly
                                                   name="Hwinner" class="form-control" id="Hwinner"
                                                   placeholder="第一完成人" onfocus="showTips('Hwinner','第一完成人不能超过50个字符')"
                                                   onblur="checkHwinner('Hwinner','请按要求输入第一完成人')">
                                            <div id="Hwinnerdiv" style="display:none">
                                                <span id="Hwinnerspan" ></span><br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="department">第一完成单位</label>
                                            <input type="text" th:value="${honor.department}"
                                                   name="department" class="form-control" id="department"
                                                   placeholder="第一完成单位" >
                                        </div>
                                        <div class="form-group">
                                            <label for="Hdate">获奖时间</label>
                                            <input type="date"  th:value="${honor.hdate}"
                                                   name="Hdate" class="form-control" id="Hdate"
                                                   placeholder="获奖时间">
                                        </div>
                                        <div class="form-group">
                                            <label for="Hcompany">颁奖单位</label>
                                            <input type="text" name="Hcompany" th:value="${honor.hcompany}"
                                                   class="form-control" id="Hcompany" placeholder="颁奖单位"
                                                   onfocus="showTips('Hcompany','颁发单位不能超过16个字符')"
                                                   onblur="checkHcompany('Hcompany','请按要求输入颁发单位')">
                                            <div id="Hcompanydiv" style="display:none">
                                                <span id="Hcompanyspan" ></span><br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Hgrad">级别</label>
                                            <select name="Hgrad"  th:value="${honor.hgrad}"
                                                    class="form-control" id="Hgrad">
                                                <option value="校级">校级</option>
                                                <option value="市级">市级</option>
                                                <option value="省级">省级</option>
                                                <option value="国家级">国家级</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Hremarks">备注</label>
                                            <input type="text"  th:value="${honor.hremarks}"
                                                   name="Hremarks" class="form-control" id="Hremarks"
                                                   placeholder="备注">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                                        </button>
                                        <button type="submit" id="btn_submit"
                                                class="btn btn-primary save">
                                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row form-group">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" align="center">
                                        <label style="text-align: center;font-size: 18px;">文 件 上 传</label>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <input id="uploadfile" name="file" multiple type="file" data-show-caption="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>